.sideMenu {
    display: none;
}

.details {
    padding: 0 50px;
}

.logo {
    padding-left: 1.6rem;
}

.alert {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert>div {
    flex: none !important;
}

/* .right{
    padding-top: 1.6rem;
    display: flex;
    align-items: center;
} */

@media screen and (max-width: 992px) {
    .sideMenu {
        display: block;
    }

    .sider {
        display: none;
    }

    .logo {
        padding-left: 0;
    }

    .header {
        padding-inline: 74px !important;
    }

}

@media screen and (max-width: 600px) {
    .details {
        padding: 0;
    }

    .header {
        padding-inline: 24px !important;
    }

}