.addCompany {
    display: flex;
    justify-content: center;
}

.addButton {
    width: 8rem;
    height: 4rem;
}

.icons {
    display: flex;
    align-items: center;
}


@media screen and (max-width: 768px) {
    .tb{
        width : 100%;
        overflow-x : 1px;
        overflow-y : hidden;
    }
    x::-webkit-scrollbar {
        overflow : hidden;
    }
}