.dropdownHolder {
    display: flex;
    flex-direction: column;
}

.dropdownHolder>button {
    justify-content: flex-start;
    padding-left: 14px;
}

.searchButtons {
    padding-left: 14px;
}