.footercard {
    width: 100%;
    margin: 1rem 0rem;
    /* background-color: antiquewhite; */
}

.cardImage {
    width: 30%;
    object-fit: contain;
    text-align: end;
    overflow: hidden;
}

.cardImage img {
    width: 6rem;
    height: 6.7rem;
    overflow: hidden;

}

.footercard {
    display: flex;
    justify-content: space-around;
    word-wrap: break-word;
}

.cardDetails {
    width: 70%;
    text-align: start;
    padding-left: 0.5rem;
}


@media screen and (min-width: 0px) and (max-width: 768px) {
    .cardDetails {
        font-size: 0.88rem;
    }
}