.FooterTwo {
    width: 100%;
    background-color: #680D0D;

    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;

}

.copyRight {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    width: 60%;

    display: flex;
    /* justify-content: flex-end; */
    align-items: self-end;
    justify-content: space-around;

}

@media screen and (max-width: 1024px) {
    .FooterTwo {
        flex-direction: column;
    }

    .copyRight {
        padding-top: 3rem;
    }
}

@media screen and (max-width: 260px) {
    .copyRight {
        padding-top: 3rem;
    }
}