.footer {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    flex-direction: row;
    padding: 0 2rem;


}

.upperLeft {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0 3rem;
    width: 70%;

}

.upperRight {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons {
    width: 28rem;
    display: flex;
    justify-content: space-around;
}
.loc{
    display: flex;
    gap: 5px;
}
.locPara{
    word-wrap: break-word;
    font-size: smaller;
}
.texts h2{
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 1200px) {
    .icons{
        display: grid;
        grid-template-columns: auto auto;
        gap: 1rem;
    }
    .locPara{
        word-wrap: break-word;
    }
}
@media screen and (max-width: 1024px) {

    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .upperRight {
        width: 100%;
    }

    .upperLeft {
        width: 100%;
    }
    .icons{
        padding-bottom: 0.8rem;
    }
}



@media screen and (max-width: 550px) {
    .upperLeft {
        display: flex;
        flex-direction: column;
    }

    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .icons {
        display: grid;
        grid-template-columns: auto auto;
        gap: 1rem;
        width: 10rem;
        padding-bottom: 1rem;
    }

}

@media screen and (max-width: 260px) {
    .upperLeft {
        display: flex;
        flex-direction: column;
    }

    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .icons {
        gap: 0.1rem;
        /* width: 10rem; */
        padding-bottom: 1rem;
    }
}