.FooterTwo {
    width: 100%;
    background-color: #680D0D;

    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.copyRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.copyRight p{
    display: flex;
    align-items: center;
    word-wrap: break-word;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: self-end;
    gap: 1rem;
}

@media screen and (max-width: 1024px) {
    .FooterTwo {
        flex-direction: column;
        width: 100%;
    }

    .copyRight {
        padding-top: 1rem;
    }
    .buttons{
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        /* grid-template-columns: auto auto auto; */
        place-items: center;
        justify-content: center;
        width: 100%;
    }
}

@media screen and (max-width: 481px) {
    .copyRight {
        padding: 1rem 1rem;
    }
    .buttons{
        padding: 0 1rem;
    }
}