.StepOne {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5% ;
    gap: 1rem;
}

.firstRow {
    display: flex;
    gap: 1rem;
}

.secondRow {
    gap: 1rem;
    display: flex;
}

.thirdRow {
    gap: 1rem;
    display: flex;
}

@media screen and (min-width: 0px) and (max-width: 425px) {
    .secondRow>span:not(:last-child) {
        padding: 0px 10px;
    }
}

@media screen and (max-width: 768px) {
    .firstRow {
        flex-direction: column;
    }

    .secondRow {
        flex-direction: column;
    }

    .thirdRow {
        flex-direction: column;
    }

}

@media screen and (max-width: 414px) {
    
}