.StepThree {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 1rem;
}

.firstRow {
    display: flex;
    gap: 1rem;

}

.secondRow {
    display: flex;
    gap: 1rem;

}

.thirdRow {
    display: flex;
    gap: 1rem;

}

.fourthRow {
    display: flex;
    gap: 1rem;

}


@media screen and (max-width: 768px) {
    .StepThree {
        text-align: left;
    }

    .firstRow {
        flex-direction: column;

    }

    .secondRow {
        flex-direction: column;
    }

    .thirdRow {
        flex-direction: column;
    }

}