.IstcNav{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
.topButtons{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.search{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
.search:first-child{
    padding-top: 1.6rem ;
}

.bottomButtons {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end;
    margin-top: 1rem;
    padding-bottom: 1rem;
}