.register{
    margin: 0;
    padding: 0;

}
.heading{
    padding: 2rem;
    text-align: center;
}
.heading h2{
    color: #700606;
    font-weight: 900;
    font-family: 'Mulish', sans-serif !important;
}
.heading span{
    color: #000;
    font-weight: 900;
    font-family: 'Mulish', sans-serif !important;
}

.alumniData{
    display: flex;
    justify-content: center;
    align-items: center;

}